
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

*{
 margin: 0;
 padding:0 ;
 box-shadow: border-box;
 text-decoration: none;
 list-style: none;
}


body {
    .jersey-25-regular {
        font-family: "Jersey 25", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
 }

.container {
        max-width: 1200px;
        margin: 0 auto;
}

.header {
    background-image: -moz-linear-gradient(
        rgba(237, 223, 223, 0.522),
        rgba(237, 223, 223, 0.522)),
        url(imagenes/Garra\ de\ leon.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFD;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFD;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #Ce967b
}

#menu {
    display: none;
}

.menu-icono {
   width: 25px; 
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #Ce967b;
    color: #f9fafc;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #c5c5c5;
}

.coffe {
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;
}

.coffe-content {
    text-align: center;
}

.coffe-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #aa7777;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.coffe-1 {
    padding: 0 25px;
}

.coffee-1 img {
    width: 200px;
}

.coffee-img {
    position: absolute;
    top: 0;
    right: 0;
}

.coffe-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services {
    background-image: linear-gradient(
        rgba(0, 0, 0,),
        rgba(0, 0, 0,)),
        url(imagenes/FACE.jpg);
        bac
}

footer {
    background-color: #000;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}
a {
    color: #258980; /* Cambia este color por el que desees */
    text-decoration: none; /* Para quitar el subrayado de los enlaces */
}
a:hover {
    color: #16a4d3;
    }
    